[submodule "libs/lavish-axi"]
	path = libs/lavish-axi
	url = https://github.com/kunchenguid/lavish-axi.git
[submodule "libs/treehouse"]
	path = libs/treehouse
	url = https://github.com/kunchenguid/treehouse.git
[submodule "libs/firstmate"]
	path = libs/firstmate
	url = https://github.com/kunchenguid/firstmate.git
[submodule "libs/no-mistakes"]
	path = libs/no-mistakes
	url = https://github.com/kunchenguid/no-mistakes.git
[submodule "libs/gh-axi"]
	path = libs/gh-axi
	url = https://github.com/kunchenguid/gh-axi.git
[submodule "libs/chrome-devtools-axi"]
	path = libs/chrome-devtools-axi
	url = https://github.com/kunchenguid/chrome-devtools-axi.git
